.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
}

.Brand-header{
  margin-left: 160px;
  color: white;
  text-align: left;
  align-items: center;
  font-size: 15px;
}

.Brand-header a{
  text-decoration: none;
  color: inherit;
}

.Nav-header{
  margin-left: 100px;
  margin-top: 16px;
}
.Signin-header{
  margin-left: 280px;
  margin-top: 16px;
}
a i{
  padding-right: 8px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #ffd100;
}

.active {
  font-weight: bolder;
}

.Content-core{
  background-color: #ffd100;
  height: 400px;
}